$("#child-<%= child.id.to_s %>").append("<div id='overlay-ajax'><img src=<%= asset_path('loading.gif') %> class='loading-gif' alt='loading' /></div>");

var finishLoad = function(){
  $('#overlay-ajax').remove();
};

setTimeout(finishLoad, 2000);
