// Place all the styles related to the Ambassadors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.input-control {
  height: 35px!important;
  margin-bottom: 5px!important;
}

/* Payment Tab */
#payment form > .row > div {
  border: 1px #ccc dashed;
  padding: 15px;
}
#payment form .bank-errors {
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
}

/* Referral Input Tags */
#spread-the-word div.tagsinput {
  height:auto!important;
}
#spread-the-word div.tab-title {
  height:50px;
}
#spread-the-word div.tab-title .icon {
  font-size:32px;
}

/* Prospect & Success Accordions */
#my-people .accordion-2 .title {
  color: #f9ad19;
  font-weight: 600;
  font-size: 13px;
  border-bottom-style: dashed;

  margin-bottom: 0;
}
#my-people .accordion-2 .title span {
  text-transform: none;
  font-weight: bold;
}
#my-people .accordion-2 li.active .content {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;

  position:relative;

  border-left: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
  border-right: 1px dashed #ccc;
}
/* Prospect/Success Form & Inputs */
#my-people form {
  padding-bottom: 8px;
}
#my-people div input {
  height: 35px;
}
#my-people .prospect div input[readonly] {
  font-weight: bold;
  background: transparent;
}
#my-people div.input-r {
  padding-right: 3px;
}
#my-people div.input-l {
  padding-left: 3px;
}
#my-people .btn-div {
  margin-left: 76.5%;
  margin-right: 0;
}
#my-people .btn-div {
  margin-left: 76%;
  margin-bottom: 8px;
}
#my-people .btn-div button i {
  font-weight: 600;
}
/* Child Success Status Icon */
#my-people div.row.status {
  position:relative;
}
#my-people .status div:after  {
  font-family: 'FontAwesome';
  font-size:16px;
  height:35px;
  position: absolute;
  top:0;
  right:20px;
  line-height: 35px;
}
#my-people .status input {
  padding-left:20px;
}
#my-people .status.registered div:after {
  content: "\f00c";
}
#my-people .status.active div:after {
  content: "\f135";
}

/* AJAX Overlay */
#overlay-ajax {
  position: absolute;
  width: 100%;
  height:100%;
  top: 0;
  left:0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1001;
}
#overlay-ajax img.loading-gif {
  z-index: 1002;
  position: relative;
  top:50%;
  left:50%;
  margin-top:-62px;
  margin-left:-83px;
}
