<!--footer 1 start -->
<footer id="footer" class="gray text-center footer-1">
  <div class="container">
    <%= link_to root_path, class: "footer-logo wow zoomIn", style: "visibility: visible; animation-name: zoomIn;" do %>
      <%= image_tag "logo@2x.png", class: "retina" %>
    <% end %>
    <div class="sub-title">THE ULTIMATE THEME WITH MASSIVE COLLECTION</div>
    <div class="social-link circle m-top-80 m-bot-80">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-dribbble"></i></a>
      <a href="#"><i class="fa fa-google-plus"></i></a>
      <a href="#"><i class="fa fa-behance"></i></a>
    </div>
    <div class="copyright">
      © MARMARIS 2015.
    </div>
    <div class="copyright-sub-title text-uppercase">
      Developers with a purpose
    </div>
  </div>
</footer>
<!--footer 1 end-->
