<!--header start-->
<header id="header" class="header-full-width sticky">
  <div class="header-sticky light-header">
    <div class="container">
      <div id="massive-menu" class="menuzord menuzord-responsive">
        <a href="javascript:void(0)" class="showhide" style="">
          <em></em>
          <em></em>
          <em></em>
        </a>

        <!--logo start-->
        <%= link_to root_path, class: 'logo-brand', 'data-no-turbolink': true do %>
          <%#= image_tag "logo.png", alt:"", class:"" %>
          ODH
        <% end %>
        <!--logo end-->

        <!--mega menu start-->
        <ul class="menuzord-menu pull-right op-nav menuzord-indented scrollable" style="max-height: 400px;">
          <li class="">
            <a href="#home">POOLS</a>
            <li class="EXPERIENCES">
            </li>
          </li>

          <li class="">
            <a href="#start">EXPERIENCES</a>
          </li>

          <li class="">
            <a href="#team">AMBASSADORSHIP</a>
          </li>

          <li class="">
            <a href="#portfolio">CONCIERGE</a>
          </li>

          <li class="">
            <a href="#service">SETTINGS</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<!--header end-->
